.product-card-container {
    display: flex;
    justify-content: center;
}

.product-card {
    // background-color: rgb(168, 206, 238);
    margin: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // width: 220px;
    // height: 300px;
    position: relative;

    &:hover {
        box-shadow: 0px 4px 35px rgba(99, 101, 102, 0.19);
        cursor: pointer;

        .add-to-cart-btn {
            display: block;
        }
    }

    .product-img-div {
        width: 225px;
        height: 216px;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .pc-p {
        font-family: Raleway, sans-serif;
        font-weight: 300;
        text-align: left;
        font-size: 1.1rem;
        margin: 10px 0 0 0;
        width: 225px;
    }

    .product-name-p {
        margin: 15px 0 0 0;
        text-align: left;
    }

    .product-price-p {
        font-weight: 500;
        text-align: left;
    }

    .add-to-cart-btn {
        display: none;
        background-color: #5ECE7B;
        border: 0;
        padding: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 50px;
        position: absolute;
        bottom: -20px;
        right: 10px;
        cursor: pointer;

        svg {
            path {
                fill: white;
            }
        }
    }

    .out-of-stock-div {
        display: none;
    }

    // .product-img-div {
    //     height: 200px;
    //     width: 200px;
    //     overflow: hidden;

    //     .product-img {
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    
}

.product-card.out-of-stock {
    .out-of-stock-div {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(240, 240, 240);
        opacity: 0.4;

        .oos-p {
            font-family: Raleway, sans-serif;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}