.cart-item-thumbnails-quantity-changer-container {
    display: flex;
    // max-height: 150px;

    .quantity-add-remove-btns-container {
        // height: 150px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .q-ch-btn {
            border: 0;
            padding: 0;        
            width: 24px; 
            height: 24px;
            background-color: white;
        }

        .qunatity-span {
            font-family: Raleway;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .items-images-carousel {
        // background-color: black;        
        // height: 150px;
        width: 130px;
        img {
            // box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
            object-fit: contain;        
            width: 100%;
            height: 100%;
            // border: 1px solid #dedede;
        }
    }
}