.cart-item-thumbnails-quantity-changer-container {
    display: flex;

    .quantity-add-remove-btns-container {
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .q-ch-btn {
            border: 0;
            padding: 0;        
            width: 24px; 
            height: 24px;
            background-color: white;

            &:hover {
                cursor: pointer;
            }
        }

        .qunatity-span {
            font-family: Raleway;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .items-images-carousel {
        position: relative;
        width: 130px;
        img {
            object-fit: contain;        
            width: 100%;
            height: 100%;
            border: 1px solid #dedede;
        }

        .image-changer-arrow-container {
            position: absolute;
            bottom: 15px;
            right: 15px;
            height: 24px;
            display: flex;

            .arrow-btn {
                padding: 0;
                border: 0;
                background-color: rgba(0, 0, 0, 0.73);
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }
            }

            .left-arrow {
                margin-right: 10px;
            }

            .arrow-disabled {
                background-color: rgba(161,161,161,0.8);
                svg path {
                    stroke: #eaeaea;
                }
            }
        }
    }


}