.navbar {

    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 7%;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;

    .navbar-left-group {
        display: flex;
        // align-items: center;
        font-family: Raleway, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;

        .category {
            display: flex;
            align-items: center;
            padding: 10px;
            margin-right: 10px;
        }

        .category:hover {
            cursor: pointer;
        }

        .category:active {
            background-color: rgb(235, 235, 235);
        }

        .active-category {
            color: #5ECE7B;
            transition: all 0.2s ease-out;
            // border-bottom: 2px solid #5ECE7B ;
            // padding-top: 12px;
        }

        .navbar-left-group-active-indicator {
            position: absolute;
            width: 0;
            background-color: #5ECE7B;
            height: 2px;
            bottom: 0;
            left: 0;
            transition: all 0.2s ease-out;
        }
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 25px);
        display: flex;
        align-items: center;

        .navbar-logo-svg {
            width: 50px;
            height: 50px;

            &:hover {
                cursor: pointer;
                // background-color: red;
            }
        }
    }

    .navbar-right-group {
        display: flex;
        align-items: center;
        font-family: Raleway, sans-serif;
        font-weight: 500;

        .currency-switcher {
            position: relative;
            margin-right: 20px;

            .currency-symbol {
                display: inline-block;
                margin-right: 7px;
                font-size: 1.5rem;
            }
            .caron-svg {
                width: 16px;
                height: 8px;
                transition: all 0.2s linear;
            }

            .caron-svg.active {
                transform: rotate(180deg);
            }

            &:hover {
                cursor: pointer;
            }
        }

        .cart-icon {
            position: relative;

            .cart-icon-svg {
                width: 30px;
                height: 30px;
            }

            .cart-quantity-indicator {
                font-family: Roboto;
                font-weight: 700;
                font-size: 12px;
                position: absolute;
                background-color: #1D1F22;
                color: white;
                top: -5px;
                right: -9px;
                width: 20px;
                height: 20px;
                line-height: 21px;
                border-radius: 50%;

                &.cart-quantity-indicator-two-digit {
                    top: -10px;
                    right: -12px;
                    width: 25px;
                    height: 25px;
                    line-height: 26px;
                }

                &.hide-cart-quantity-indicator {
                    display: none;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}